.widget
	h4.widget-title Popular Products
	.widget-body
		+product-small({
			img:      'product/product-1-72x91',
			title:    'Spring Harvest 2020 Songbook',
			price:    '35'
		})
		+product-small({
			img:      'product/product-3-72x91',
			title:    'Ten Girls Who Changed the World',
			price:    '35'
		})
