// About us
section.section-md.bg-transparent.section-creative-top
	.container
		.row
			.col-md-10.col-lg-9( data-animate!={ class: 'fadeIn' } )
				h3.text-decorated.text-decorated-large Our church incorporates God’s family into our fellowship. We provide a warm, authentic community, welcoming new believers into the body of Christ through baptism.
