include ../thumbnail/_thumbnail

// Practice
section.section-md.bg-transparent
	.container
		.row.row-40.row-xl-55.row-xxl-100
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-3-370x266',
					title: 'Character',
					text:  'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.'
				})
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-4-370x266',
					title: 'Christian Life',
					text:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.'
				})
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-2-370x266',
					title: 'Healing',
					text:  'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.'
				})

			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-5-370x266',
					title: 'Holy Spirit',
					text:  'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.'
				})
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-6-370x266',
					title: 'Ministry',
					text:  'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.'
				})
			.col-sm-6.col-lg-4
				+thumbnail-simple({
					img:   'image-7-370x266',
					title: 'Marriage',
					text:  'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.'
				})
