extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'Blog carousel';

block page
	+page-title({
		bgImage: 'images/background/bg-4-1920x496.jpg'
	})
		+rd-navbar

	include ../components/section/_blog-carousel
	include ../components/footer/_footer-contact