extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'Single product';

block page
	+page-title({
		bgImage: 'images/background/bg-2-1920x496.jpg'
	})
		+rd-navbar

	include ../components/section/_product-single
	include ../components/section/_product-overview
	include ../components/section/_products-grid
	include ../components/footer/_footer-contact
