include ../blurb/_blurb

// About us 2
section.section-double
	section.section-double-top.section-md.bg-100
		.container
			.row.row-30
				.col-md-4
					+blurb-icon-left({
						iconClass: 'linearicons-heart',
						title: 'Joyful and Fun-Filled Fellowship',
						text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.'
					})
				.col-md-4
					+blurb-icon-left({
						iconClass: 'linearicons-mic2',
						title: 'We Worship and Praise God',
						text: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
					})
				.col-md-4
					+blurb-icon-left({
						iconClass: 'linearicons-home3',
						title: 'Meeting the Needs of Our Community',
						text: 'Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos.'
					})

	section.section-double-bottom.section-md.bg-transparent
		.container
			+img( 'image-2-1170x386' ).img-single
			h3.h3-big Sermons
			.row.row-30
				.col-sm-6.col-lg-3
					ul.list.list-divided.h4
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Character
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Christian Life
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Healing
				.col-sm-6.col-lg-3
					ul.list.list-divided.h4
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Holy Spirit
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Hope
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Marriage
				.col-sm-6.col-lg-3
					ul.list.list-divided.h4
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Ministry
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Peace
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Prayer
				.col-sm-6.col-lg-3
					ul.list.list-divided.h4
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Revival
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Salvation
						li.list-item: a.link.link-arrow( href='single-sermon.html' ) Spiritual Growth
