// About us
section.section-md.bg-transparent
	.container
		.row.row-25.row-xl-55
			.col-md-10.col-lg-9
				h3.text-decorated.text-decorated-large.pl-4 Our church incorporates God’s family into our fellowship. We provide a warm, authentic community, welcoming new believers into the body of Christ through baptism.
			.col-md-6.col-lg-8
				p.big Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.aliqua.
			.col-md-6.col-lg-4
				p.big Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed.
