// Awards
section.section-sm.bg-100.text-center
	.container
		.owl-carousel.owl-vertical-center.owl-content-1( data-owl= { dots: true }, data-items='2', data-sm-items='3', data-md-items='4')
			+img('logo/logo-1-157x39.png')
			+img('logo/logo-2-95x25.png')
			+img('logo/logo-3-92x39.png')
			+img('logo/logo-4-116x33.png')
