// Overview Practice
section.section-md.bg-transparent
	.container
		.row.row-30.row-xl-55.row-xxl-100.justify-content-between
			.col-md-8
				+img( 'image-12-769x431' )
				h3.h3-big God’s Cure For the World’s Worst Disease
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.row.row-25.row-offset-md
					.col-sm-6
						+img( 'image-13-349x373' )
					.col-sm-6
						h3.h3-big Promptness
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						p Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor.
						.row.row-5.row-content.row-gutters-5
							.col-xl-6
								ul.list.list-marked.text-dark
									li.list-item Lorem ipsum dolor
									li.list-item Tellus cras adipiscing
									li.list-item Quis eleifend quam
							.col-xl-6
								ul.list.list-marked.text-dark
									li.list-item Dolore magna
									li.list-item Vitae proin
				h3.h3-big Be not held in the bondage of indecision
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor.

			.col-md-4.col-xl-3
				h3.text-primary Sermons
				ul.list.list-divided.list-divided-sm.big
					li.list-item: a.link.link-arrow( href='#' ) Character
					li.list-item: a.link.link-arrow( href='#' ) Christian Life
					li.list-item: a.link.link-arrow( href='#' ) Healing
					li.list-item: a.link.link-arrow( href='#' ) Holy Spirit
					li.list-item: a.link.link-arrow( href='#' ) Hope
					li.list-item: a.link.link-arrow( href='#' ) Marriage
					li.list-item: a.link.link-arrow( href='#' ) Ministry
					li.list-item: a.link.link-arrow( href='#' ) Peace
				a.btn.btn-block( href='#' ) Get in Touch
