include ../counter/_counter

// Counter icon
section.section-md.context-dark.bg-darkest.section-double-bottom
	.container
		h2 Our Ministries
		.row.row-30.row-offset-md
			.col-6.col-md-3
				.box-icon-bordered
					.box-icon-bordered-icon.text-primary.linearicons-landscape
					.box-icon-bordered-title Men’s Ministry

			.col-6.col-md-3
				.box-icon-bordered
					.box-icon-bordered-icon.text-primary.linearicons-heart
					.box-icon-bordered-title Ladies Ministry

			.col-6.col-md-3
				.box-icon-bordered
					.box-icon-bordered-icon.text-primary.linearicons-mic2
					.box-icon-bordered-title Couples’ Minstry

			.col-6.col-md-3
				.box-icon-bordered
					.box-icon-bordered-icon.text-primary.linearicons-home3
					.box-icon-bordered-title Teen  Ministry
