extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'About Church';
	- pageId = 'about-us';

block page
	+page-title({
		bgImage: 'images/background/bg-2-1920x496.jpg'
	})
		+rd-navbar

	include ../components/section/_about-us
	include ../components/section/_about-us-2
	include ../components/section/_our-team
	include ../components/section/_awards
	include ../components/footer/_footer-contact
