extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'Blog post';

block page
	+page-title({
		bgImage: 'images/background/bg-2-1920x496.jpg',
		title: 'Blog Post'
	})
		+rd-navbar

	include ../components/section/_blog-post
	include ../components/footer/_footer-contact
