extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title
include ../components/post/_post

block variables
	- pageName = 'Donations';

block page
	+page-title({
		bgImage: 'images/background/bg-4-1920x496.jpg',
		title: 'Donate'
	})
		+rd-navbar

	section.section-md.bg-100
		.container
			.row.row-50
				.col-sm-6.col-lg-4
					+post-line({
						img: 'image-22-368x228',
						subtitle: '<span class="text-primary">$5,500</span>  of $50,000 raised',
						link: 'single-donation.html',
						title: 'Clean Water Delivery for Poor Regions and Countries',
						date: '10 days to go'
					})
				.col-sm-6.col-lg-4
					+post-line({
						img: 'image-23-368x228',
						subtitle: '<span class="text-primary">$5,500</span> of $50,000 raised',
						link: 'single-donation.html',
						title: 'Health Care for 450 HIV+ Children in Zambia',
						date: '10 days to go'
					})
				.col-sm-6.col-lg-4
					+post-line({
						img: 'image-24-368x228',
						subtitle: '<span class="text-primary">$5,500</span>  of $50,000 raised',
						link: 'single-donation.html',
						title: 'Support the Education and Clergy Development',
						date: '10 days to go'
					})
				.col-sm-6.col-lg-4
					+post-line({
						img: 'image-26-368x228',
						subtitle: '<span class="text-primary">$5,500</span> of $50,000 raised',
						link: 'single-donation.html',
						title: 'Providing African & Indian Regions with Fresh Food',
						date: '10 days to go'
					})
				.col-sm-6.col-lg-4
					+post-line({
						img: 'image-27-368x228',
						subtitle: '<span class="text-primary">$5,500</span>  of $50,000 raised',
						link: 'single-donation.html',
						title: 'Educational Support for Kids and Teens in Central Africa',
						date: '10 days to go'
					})
				.col-sm-6.col-lg-4
					+post-line({
						img: 'image-28-368x228',
						subtitle: '<span class="text-primary">$5,500</span> of $50,000 raised',
						link: 'single-donation.html',
						title: 'Reducing Racial Inequality in Overpopulated Cities',
						date: '10 days to go'
					})
				
	include ../components/footer/_footer-contact
