extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar-line

block variables
	- pageName = 'Home';

block page

	include ../components/section/_intro-slider-line
	include ../components/section/_cases
	include ../components/section/_about-us-4
	section.section-double-2
		include ../components/section/_practice-3
		include ../components/section/_section-icon
	include ../components/section/_blog-carousel
	include ../components/section/_quote-line
	include ../components/section/_our-team
	include ../components/section/_about-us-5
	include ../components/section/_form-appointment-2
	include ../components/section/_awards
	include ../components/footer/_footer-contact
	// coded by barber
