extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'Search results';

block page
	+page-title({
		bgImage: 'images/background/bg-5-1920x496.jpg'
	})
		+rd-navbar 

	include ../components/section/_search-results
	include ../components/footer/_footer-contact
