extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'Single Sermon';

block page
	+page-title({
		bgImage:  'images/background/bg-3-1920x496.jpg',
		title: 'Single Sermon'
	})
		+rd-navbar

	include ../components/section/_overview-practice
	include ../components/section/_quote-large
	include ../components/section/_consultation-form
	include ../components/footer/_footer-contact
