extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'Team member';

block page
	+page-title({
		bgImage: 'images/background/bg-1-1920x496.jpg',
		subtitle: 'Some information about one of our team members'
	})
		+rd-navbar

	include ../components/section/_team-member-overview
	include ../components/section/_team-member-experience
	include ../components/section/_team-member-progress
	include ../components/section/_form-appointment
	include ../components/section/_blog-carousel
	include ../components/footer/_footer-contact
