.widget
	h4.widget-title Recent Posts
	.widget-body
		+post-small({
			img:      'image-16-72x72',
			title:    'The Context of Theology',
			date:     'May 10, 2021'
		})
		+post-small({
			img:      'image-17-72x72',
			title:    'Let Us All Be Hospitable',
			date:     'May 10, 2021'
		})
