// Practice
section.section-double-top
	.container
		.layout.layout-2
			.layout-media.bg-image( style='background-image: url(images/image-19-837x551.jpg)', data-animate!={ class: 'fadeInUpBig' } )
			.layout-content.bg-100( data-animate!={ class: 'fadeInUpBig', delay: '.2s' } )
				h2 About Church
				p At Calm Church, we want the love that Christ showed on the cross to flow out of our lives, impacting the community.
				p We come from all different backgrounds and cultures but are united in the pursuit and worship of Christ. Above all else, we want to glorify God. We strongly believe that God does His work through the local church and that it is a vital part of the Christian life. Please join us as we come together and let the Gospel transform us!
				
				.group-20.mt-5(data-lightgallery)
					a.btn.btn-primary(href='#') Donate Now
					a.btn.btn-outline.btn-icon.lightgallery-item(href='https://youtu.be/hNQFjqDvPhA')
						svg.icon(width='9', height='12', viewBox='0 0 9 12',  xmlns='http://www.w3.org/2000/svg')
							path(d='M9 6L4.64275e-07 11.1962L9.18537e-07 0.803847L9 6Z')

						| Donate Now
